
a {
    text-decoration: none;
    font-size: 18px;
      color: #E5E7EB
  }

  ul {
    list-style-type: none;
    font-size: 18px;
      color: #E5E7EB
  }


  .hero, .header, .footer {
background-color: #1f2937;
  }

  .hero-main-text {
    font-size: 48px;
      font-weight: 900;
      color: #f9faf8;
      max-width: 300px;
  }

  .hero-secondary-text {
max-width: 430px;
margin-bottom: 20px;
font-size: 18px;
color: #E5E7EB;
  }

.header-link-list {
    display: flex;
    justify-content: space-evenly;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

button {
    background-color: #3882f6;
    border-radius: 5px;
    padding: 8px 30px;
    font-weight: bold;
    color: white;
}

.call-to-action {
    background-color: #3882f6;
}

.information-title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    display: flex;
    justify-content: center;
}
.quote {
    background-color: #E5E7EB;
    color: 1f2937;
    font-size: 36px;
}

.text1 {
    font-style: italic;
    font-weight: 100px;
}

.text2 {
    font-weight: bold;   
    
}

body {
    display: flex;
    flex-direction: column;

}

.header {
    display: flex;
    justify-content: space-between;
padding-right: 285px;
padding-left: 285px;

} 

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerlink1, .headerlink2 {
    padding-right: 18px;
}

/* hicbir sey calismiyor, 
bi de sayfanin sagi ve solu cok genis gorunuyor niye?
ucuncusu bos img zimbirtisinin backgroundu ve texti 
nasil ayarlanir*/


.hero {
    display: flex;
    justify-content: center;
    padding: 78px;

}

.hero-text {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    max-height: 300px;
}

.container-information {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;

}

.info-text {
    display: flex;
    width: 120px;
    flex-wrap: wrap;
    padding-top: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.information-title {
    margin: 30px 0px;
}

img {
    border: 1px solid #3882f6;
    border-radius: 5px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   max-width: 650px;
   margin: 60px 0px;
   
}

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text2 {
    padding-left: 200px;
    padding-top: 20px;
    
}